body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin: 0;
}

h2{
  margin: 0;
  font-size: 20px;
}

h3{
  margin: 0;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
  color: #efefef;
  
}

a:hover{
  color: gray;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
  list-style: none;
  white-space: nowrap;
  margin: 0;
  font-weight: 600;
}


/*Header*/
header{
  background-color: #083d5e;
  position: fixed;
  width: 100%;
  z-index: 5;
}

header nav{
  width: 75%;
  margin: 0 auto;
  display: flex;
  padding: 15px 0;
  color: white;
  justify-content: space-between
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.header-text{
  display: flex;
  align-items: center;
}

.header-logo h1{
  margin-left: 30px;
}

.bi-arrow-up-square{
  position: absolute;
  right:240px;
  bottom: 5px;
  
}

.active-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active-user li{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active-user p{
  font-size: 20px;
}

.bi-person-circle{
  font-size: 25px;
}

/*Jumbotron*/
.carrusel{
  padding-top: 65px;
}

/*Catalogo*/
.compra{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.item-card{
  background-color: white;
  border-color: black;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-radius: 10px;
  padding: 15px;
  width: 250px;
}

.item-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.store-button{
  max-height: 40px;
}

.bi-cart-plus{
  font-size: 30px;
}

/*Login */
.login{
  padding: 100px 0 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card{
  background-color: white;
  border-color: black;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-radius: 10px;
  padding: 15px;
  width: 300px;
}

/*Signup*/
.signup{
  padding: 100px 0 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Footer*/
footer{
  /*background-color: #0a1128;*/
  background-color: black;
  color: white;
}

footer nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 75%;
  margin: 0 auto;
  
  padding-top: 30px;
}

.redes-sociales{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list{
  text-align: left;
}

dt{
  font-weight: 400;
  font-size: 18px;
}

dd{
  margin-inline-start: 0;
}
.redes-sociales p{
  font-size: 30px;
}

.foot{
  border-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-top-width: 1px;
    max-width: 1170px;
    width: 100%;
    margin: 50px auto 0;
    padding: 30px 0 10px;
}