body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin: 0;
}

h2{
  margin: 0;
  font-size: 20px;
}

h4{
  margin: 0;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
  color: #efefef;
  
}

a:hover{
  color: gray;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
  list-style: none;
  white-space: nowrap;
  margin: 0;
  font-weight: 600;
}


/*Header*/
header{
  background-color: #083d5e;
  position: fixed;
  width: 100%;
  z-index: 5;
}

header nav{
  width: 75%;
  margin: 0 auto;
  display: flex;
  padding: 15px 0;
  color: white;
  justify-content: space-between
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.header-text{
  display: flex;
  align-items: center;
}

.header-logo h1{
  margin-left: 30px;
}

.bi-arrow-up-square{
  position: absolute;
  right:240px;
  bottom: 5px;
  
}

.active-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active-user li{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active-user p{
  font-size: 20px;
}

.bi-person-circle{
  font-size: 25px;
}

/*Jumbotron*/
.carrusel{
  padding-top: 65px;
}

/*Catalogo*/
.compra{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.catalogo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 75%;
  row-gap: 20px;
  column-gap: 10px;
  padding: 50px 0;
}

.item-card{
  background-color: white;
  border-color: black;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-top{
  display: flex;
  flex-direction: column;
}

.item-top img{
  justify-content: center;
}

.badge{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.item-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-bottom>div>p{
  font-size: 45px;
}

.store-button{
  max-height: 56px;
}

.bi-cart-plus{
  font-size: 30px;
}

/* Carrito */
#carrito{
  position: fixed;
  z-index: 2;
  top: 50px;
  right: 0;

  max-width: 350px;
}

.store-item{
  border-top-style: solid;
  border-top-width: 1px;
  border-color: gray;
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.store-item div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.store-item div img{
  max-width: 30px;
}

.item-name{
  text-align: left;
}

.finish-sale{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Login */
.login{
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card{
  background-color: white;
  border-color: black;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-radius: 10px;
  padding: 15px;
  width: 300px;
}

/*Signup*/
.signup{
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Checkout*/
.checkout{
  padding-top: 50px;
  margin: auto;
  width: 75%;
  height: max-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}


.checkout>div>div>.modal{
  min-height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.checkout-container{
  width: 40vw;

  padding-top: 50px;
}

#carritoCheckout{
  top: 50px;
  right: 0;

  width: 40vw;
  margin: 0;
}

.store-itemCheckout{
  border-top-style: solid;
  border-top-width: 1px;
  border-color: gray;
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.store-itemCheckout div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.store-itemCheckout div img{
  max-width: 50px;
}

/* User Info*/
.user-page{
  padding-top: 50px;
  width: 75%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.user-icon{
  font-size: 150px;
}

.user-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.user-info p{
  text-align: left;
  padding-left: 40px;
}

.user-info h5{
  text-align: left;
  padding-left: 20px;
}

.user-page>div>div>.modal{
  min-height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

#carritoUser{
  top: 50px;
  right: 0;

  width: 40vw;
  margin: 0 0 0 auto;

  
}

#carritoUser>.modal-content{
  justify-self: right;

}

.store-itemUser{
  border-top-style: solid;
  border-top-width: 1px;
  border-color: gray;
  padding: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.store-itemUser div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.store-itemUser div img{
  max-width: 50px;
}

/*Footer*/
footer{
  background-color: black;
  color: white;
}

footer nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 75%;
  margin: 0 auto;
  
  padding-top: 30px;
}

.redes-sociales{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list{
  text-align: left;
}

dt{
  font-weight: 400;
  font-size: 18px;
}

dd{
  margin-inline-start: 0;
}
.redes-sociales p{
  font-size: 30px;
}

.foot{
  border-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-top-width: 1px;
    max-width: 1170px;
    width: 100%;
    margin: 50px auto 0;
    padding: 30px 0 10px;
}

@media screen and (max-width: 1460px) {
  .catalogo{
    grid-template-columns: 1fr 1fr 1fr;
  }


}

@media screen and (max-width: 1140px) {
  .catalogo{
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
  }

  .checkout{
    flex-direction: column-reverse;
  }

  .checkout-container{
    width: 100%;
    padding-top: 0;
    min-width: 100%;
  }

  .paypal-button-row{
    width: 100%;
  }

  #carritoCheckout{
    width: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .item-card{
    width: 25vw;
    height: 80vh;
  }

  .item-bottom>div>p{
    font-size: 30px;
  }

  header nav{
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 770px) {
  .item-card{
    width: 20vw;
    height: 70vh;
  }

  .item-bottom{
    flex-direction: column;
  }

  h2{
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  #carrito{
    max-width: 300px;
  }

  .header-text{
    display: none!important;
  }

  .menu2{
    display: flex!important;
    justify-content: center;
    align-items: center;
  }
}